#The subfolders in the pkgbuild folder will be used for building package building and will spew lots of files so, ignore everything and only keep the things we care about
*

#keep .gitignore 
!.gitignore

#keep PKGBUILDs
!PKGBUILD

#keep readme
!README.md

